@model Coolntern.Models.Job
@using Coolntern.Help

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/Content/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Coolntern</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- job post company Start -->
<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img src="~/Content/upload/img/job/@Model.image" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>@Model.name</h4>
                            </a>
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>@Model.location</li>
                                <li>$@Model.salary</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Description</h4>
                        </div>
                        <p>@Html.Raw(@Model.description)</p>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Required Knowledge, Skills, and Abilities</h4>
                        </div>
                        <ul>
                            @foreach (var i in Model.requirement.Split('-'))
                            {
                                <li><p>@i</p></li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <p>Posted date : <span>@Model.datebegin.GetValueOrDefault().ToShortDateString()</span></p>
                        <p>Location : <span>@Model.location</span></p>
                        <p>Vacancy : <span>@Model.vacancy</span></p>
                        <p>Application date : <span>@Model.dateapply.GetValueOrDefault().ToShortDateString()</span></p>
                    </ul>
                    <div class="apply-btn2">
                        @if (!ViewBag.HadApply)
                        {
                            @Html.ActionLink("Apply Now", "ApplyJob", "Job", new { meta = Model.meta }, new { @class = "btn" });
                        }
                        else
                        {
                            @Html.ActionLink("You had Apply this job!!!", "ApplyJob", "Job", new { meta = Model.meta }, new { @class = "btn disabled", @disabled = "true" });
                        }

                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <ul>
                        <li>Name: <span>@Model.nameCompany </span></li>
                        <li>Web : <span> @Model.nameCompany .com</span></li>
                        <li>Email: <span>@Model.email</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post company End -->
