@model Coolntern.ViewModel.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section _Header
{
    <link href="~/Content/css/styleSettings.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
}

<div class="container page">
    <h2 style="text-align:center">CHANGE PASSWORD</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="panel-body ">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="container upload rounded mt-5 mb-5">
                        <!-- Account page navigation-->
                        <nav class="nav nav-borders">
                            <a class="nav-link active ms-0" href="/chinh-sua-thong-tin" target="_self" style="color: black;">Profile</a>
                            <a class="nav-link" href="/doi-mat-khau" style="color: black;">Security</a>
                        </nav>
                        <hr class="mt-0 mb-4">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Change password card-->
                                <div class="row mt-3">
                                    <!-- Form Group (current password)-->
                                    <div class="form-group col-lg-12">
                                        @Html.Label("Current Password", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <!-- Form Group (new password)-->
                                    <div class="form-group col-lg-12">
                                        @Html.Label("New Password", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <!-- Form Group (confirm password)-->
                                    <div class="form-group col-lg-12">
                                        @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <div class="col-md-12 text-danger" style="font-size: 16px;">
                                            @Html.ValidationSummary()
                                        </div>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
