@model Coolntern.ViewModel.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                     alt="Sample photo" class="img-fluid"
                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <div class="row">
                                            @{ Html.RenderAction("getLogo", "Temp");}

                                            <h3 class="mb-5 text-uppercase">Registration form</h3>

                                        </div>

                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.LabelFor(temp => temp.Username)
                                        @Html.TextBoxFor(temp => temp.Username, new { placeholer = "Username", @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(temp => temp.Username)
                                        </span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.LabelFor(temp => temp.Name)
                                        @Html.TextBoxFor(temp => temp.Name, new { placeholer = "Name", @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(temp => temp.Name)
                                        </span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.LabelFor(temp => temp.Email)
                                        @Html.TextBoxFor(temp => temp.Email, new { placeholer = "Email", @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(temp => temp.Email)
                                        </span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                @Html.LabelFor(temp => temp.Password)
                                                @Html.PasswordFor(temp => temp.Password, new { placeholer = "Password", @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(temp => temp.Password)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                @Html.LabelFor(temp => temp.ConfrimPassword)
                                                @Html.PasswordFor(temp => temp.ConfrimPassword, new { placeholer = "Confrim Password", @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(temp => temp.ConfrimPassword)
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.LabelFor(temp => temp.Phone)
                                        @Html.TextBoxFor(temp => temp.Phone, new { placeholer = "Phone", @class = "form-control" })
                                        @Html.ValidationMessageFor(temp => temp.Phone)
                                    </div>


                                    <div class="form-outline mb-4">
                                        @Html.LabelFor(temp => temp.Address)
                                        @Html.TextBoxFor(temp => temp.Address, new { placeholer = "Address", @class = "form-control" })
                                        @Html.ValidationMessageFor(temp => temp.Address)
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 text-danger">
                                            @Html.ValidationSummary()
                                        </div>
                                        <div class="col-md-4"></div>

                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <input type="submit" value="Register" class="btn btn-dark btn-lg btn-block" />
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">
                                        Have already an account? <a href="@Url.Action("Login", "Account")"
                                                                    class="fw-bold text-body"><u>Login here</u></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

